.contentLogin{
    display: flex;
    background-color:#0E0C5A;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.leftLogin{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
.rightLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.contentFormLogin{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 100vh;
}
.formLoginTop{
width: 100%;
height: 60%;
padding-top: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.sectionLogin{
    width: 100%;
}
.textSectionLogin{
    font-size: 18px;
    color: white;
    font-weight: 200;
    margin: 0 0 4px;

}
.campTextLogin{
width: 310px;
height: 24px;
padding: 10px;
border-radius: 32px;
outline: none;
border: none;
font-size: 18px;
color: #1E2479;
}
.selectLogin{
    display: flex;
    width: 310px;
    background-color: white;
    border-radius: 32px;
    height: 24px;
    padding: 10px;
    align-items: center;
    flex-direction: row-reverse;
}
.arrowSelectLogin{
    color:#FF4545;
    font-size: 40px;
}
.selectorOpenLogin{
    top: 0;
    position: absolute;
    z-index: 10;
    width: 310px;
    height: 250px;
    padding: 10px;
    border-radius: 32px;
    background-color: white;
    display: none;
}
.contentOptionLogin::-webkit-scrollbar {
    width: 10px;      
    background-color:white;
    padding-right:10px;
    border: 2px solid #E2E2E2;
border-radius: 5px;
}
.contentOptionLogin::-webkit-scrollbar-thumb {
    background: #1E2479;
    border-radius: 4px;
}
.contentOptionLogin2::-webkit-scrollbar {
    width: 10px;      
    background-color:white;
    padding-right:10px;
    border: 2px solid #E2E2E2;
border-radius: 5px;
}
.contentOptionLogin2::-webkit-scrollbar-thumb {
    background: #1E2479;
    border-radius: 4px;
}
.contentOptionLogin3::-webkit-scrollbar {
    width: 10px;      
    background-color:white;
    padding-right:10px;
    border: 2px solid #E2E2E2;
border-radius: 5px;
}
.contentOptionLogin3::-webkit-scrollbar-thumb {
    background: #1E2479;
    border-radius: 4px;
}
.contentOptionLogin{
    overflow-y: scroll;
    width: 310px;
    height: 250px;
}
.selectorOpenLogin2{
    z-index: 10;
    overflow: auto;
    top: 0;
    position: absolute;
    width: 310px;
    height: 250px;
    padding: 10px;
    border-radius: 32px;
    background-color: white;
    display: none;
}
.selectorOpenLogin3{
    top: 0;
    overflow: auto;
    position: absolute;
    width: 310px;
    height: 250px;
    padding: 10px;
    border-radius: 32px;
    background-color: white;
    display: none;
}
.iconArrowSelect{
    display: flex;
    flex-direction: row-reverse;
}
.contSelectLogin{
    position: relative;
    z-index: 1;
}
#checkSelectLogin:checked + .selectorOpenLogin{
    display: flex;
    flex-direction: column;
}
#checkSelectLogin2:checked + .selectorOpenLogin2{
    display: flex;
    flex-direction: column;
}
#checkSelectLogin3:checked + .selectorOpenLogin3{
    display: flex;
    flex-direction: column;
}
#checkSelectLogin{
    display: none;
}
#checkSelectLogin2{
    display: none;
}
#checkSelectLogin3{
    display: none;
}
.textOptionLogin{
    color: #1E2479;
    font-size: 16px;
    font-weight: 400;
    border-top: 1px solid grey;
    margin: 10px;
}
.formLoginBottom{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.enviarLogin{
    width: 200px;
height: 64px;
border-radius: 32px;
background-color: white;
color: #1E2479;
font-size: 26px;
font-weight: 600;
}
.terminosCondiciones{
    display: flex;
    align-items: center;
}
.texTerminos{
    font-size: 15px;
    font-weight: 200;
    color: white;
    margin: 0 0 5px 5px;
}
#checkTerminosCondiciones{
    display: none;
}
#checkTerminosCondiciones:checked + .contentChecksTerminos > .checkTermninos{
    display: flex;
}
.checkTermninos{
    position: absolute;
    display: none;
}

